n8n-workflow.json
{
  "name": "VoiceTask - אוטומציה קולית",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "קבלת משימה",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "voicetask",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "node-if",
      "name": "בדיקת פעולה",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "leftValue": "={{ $json.body.action ?? $json.action }}",
              "rightValue": "delete",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-code",
      "name": "עיבוד נתונים",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "parameters": {
        "jsCode": "try {\n  const task = $input.first().json.body ?? $input.first().json;\n\n  const defaultDatetime = () => {\n    const d = new Date();\n    d.setDate(d.getDate() + 1);\n    d.setHours(9, 0, 0, 0);\n    return d.toISOString();\n  };\n\n  const addHour = (dt) =>\n    new Date(new Date(dt).getTime() + 3600000).toISOString();\n\n  const detectCategory = (text) => {\n    if (!text) return 'כללי';\n    const work     = ['לקוח','פגישה','עבודה','מייל','פרויקט','דוח','ישיבה','זום'];\n    const personal = ['לקנות','בית','משפחה','ילדים','אוכל','רופא','קניות'];\n    if (work.some(k => text.includes(k)))     return 'מקצועי';\n    if (personal.some(k => text.includes(k))) return 'אישי';\n    return 'כללי';\n  };\n\n  const datetime = task.datetime || defaultDatetime();\n\n  const out = {\n    text:        task.text     || '',\n    category:    task.category || detectCategory(task.text),\n    datetime,\n    endDatetime: addHour(datetime),\n    createdAt:   task.createdAt || new Date().toISOString(),\n    completed:   task.completed || false,\n    email:       task.email    || '',\n    action:      task.action   || 'create'\n  };\n\n  return [{ json: out }];\n\n} catch (err) {\n  throw new Error('שגיאה בעיבוד נתונים: ' + err.message);\n}"
      }
    },
    {
      "id": "node-if-email",
      "name": "בדיקת מייל בלבד",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 420],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "email_only",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-delete",
      "name": "מחיקת אירוע",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [680, 180],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": {"mode": "id", "value": "c5caabcb206401f369c59c985274f14ad284c3ff899fcc1d93bbd4e58213aeae@group.calendar.google.com"},
        "eventId": "={{ ($json.body ?? $json).calendarEventId }}"
      }
    },
    {
      "id": "node-calendar",
      "name": "גוגל קלנדר",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1120, 540],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {"mode": "id", "value": "c5caabcb206401f369c59c985274f14ad284c3ff899fcc1d93bbd4e58213aeae@group.calendar.google.com"},
        "start": "={{ $('עיבוד נתונים').item.json.datetime }}",
        "end": "={{ $('עיבוד נתונים').item.json.endDatetime }}",
        "additionalFields": {
          "summary": "={{ $('עיבוד נתונים').item.json.text }}",
          "description": "=קטגוריה: {{ $('עיבוד נתונים').item.json.category }}\nנוצר ב: {{ new Date($('עיבוד נתונים').item.json.createdAt).toLocaleString('he-IL') }}\n\nנוצר מ-VoiceTask 🎤",
          "attendees": [
            {
              "email": "={{ $('עיבוד נתונים').item.json.email }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-gmail-notify",
      "name": "מייל אישור",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1120, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('עיבוד נתונים').item.json.email }}",
        "subject": "=📅 נוסף לגוגל קלנדר: {{ $('עיבוד נתונים').item.json.text }}",
        "emailType": "html",
        "message": "=<div dir=\"rtl\" style=\"font-family:Arial,sans-serif;max-width:520px;margin:auto;background:#f9f9fb;border-radius:12px;overflow:hidden\">\n  <div style=\"background:#1a1a1a;padding:24px 28px\">\n    <h2 style=\"color:white;margin:0;font-size:20px\">📅 המשימה נוספה לגוגל קלנדר!</h2>\n  </div>\n  <div style=\"padding:24px 28px\">\n    <table style=\"width:100%;border-collapse:collapse\">\n      <tr><td style=\"padding:8px 0;color:#555;width:100px\"><b>משימה</b></td><td style=\"padding:8px 0;font-size:16px\">{{ $('עיבוד נתונים').item.json.text }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#555\"><b>קטגוריה</b></td><td style=\"padding:8px 0\">{{ $('עיבוד נתונים').item.json.category }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#555\"><b>תאריך</b></td><td style=\"padding:8px 0\">{{ new Date($('עיבוד נתונים').item.json.datetime).toLocaleString('he-IL') }}</td></tr>\n    </table>\n  </div>\n  <div style=\"padding:12px 28px;background:#f0f0f0;font-size:12px;color:#888\">נשלח אוטומטית מ-VoiceTask</div>\n</div>"
      }
    },
    {
      "id": "node-gmail",
      "name": "שליחת מייל",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1340, 540],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('עיבוד נתונים').item.json.email }}",
        "subject": "=📅 נוסף לגוגל קלנדר: {{ $('עיבוד נתונים').item.json.text }}",
        "emailType": "html",
        "message": "=<div dir=\"rtl\" style=\"font-family:Arial,sans-serif;max-width:520px;margin:auto;background:#f9f9fb;border-radius:12px;overflow:hidden\">\n  <div style=\"background:#1a1a1a;padding:24px 28px\">\n    <h2 style=\"color:white;margin:0;font-size:20px\">📅 המשימה נוספה לגוגל קלנדר!</h2>\n  </div>\n  <div style=\"padding:24px 28px\">\n    <table style=\"width:100%;border-collapse:collapse\">\n      <tr><td style=\"padding:8px 0;color:#555;width:100px\"><b>משימה</b></td><td style=\"padding:8px 0;font-size:16px\">{{ $('עיבוד נתונים').item.json.text }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#555\"><b>קטגוריה</b></td><td style=\"padding:8px 0\">{{ $('עיבוד נתונים').item.json.category }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#555\"><b>תאריך</b></td><td style=\"padding:8px 0\">{{ new Date($('עיבוד נתונים').item.json.datetime).toLocaleString('he-IL') }}</td></tr>\n    </table>\n  </div>\n  <div style=\"padding:12px 28px;background:#f0f0f0;font-size:12px;color:#888\">נשלח אוטומטית מ-VoiceTask</div>\n</div>"
      }
    },
    {
      "id": "node-respond-create",
      "name": "תשובה - יצירה",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 540],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status:'created',eventId:$('גוגל קלנדר').item.json.id||''}) }}"
      }
    },
    {
      "id": "node-respond-notify",
      "name": "תשובה - מייל",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"notified\"}"
      }
    },
    {
      "id": "node-respond-delete",
      "name": "תשובה - מחיקה",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"deleted\"}"
      }
    },
    {
      "id": "node-reminder-email",
      "name": "מייל תזכורת",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [680, 560],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ ($json.body ?? $json).email }}",
        "subject": "=🔔 תזכורת: {{ ($json.body ?? $json).text }}",
        "emailType": "html",
        "message": "=<div dir=\"rtl\" style=\"font-family:Arial,sans-serif;max-width:520px;margin:auto;background:#f9f9fb;border-radius:12px;overflow:hidden\"><div style=\"background:#6366f1;padding:24px 28px\"><h2 style=\"color:white;margin:0;font-size:20px\">🔔 תזכורת לאירוע שלך</h2></div><div style=\"padding:24px 28px\"><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#555;width:100px\"><b>אירוע</b></td><td style=\"padding:8px 0;font-size:16px\">{{ ($json.body ?? $json).text }}</td></tr><tr><td style=\"padding:8px 0;color:#555\"><b>מתחיל</b></td><td style=\"padding:8px 0\">{{ new Date(($json.body ?? $json).eventDatetime).toLocaleString('he-IL') }}</td></tr><tr><td style=\"padding:8px 0;color:#555\"><b>משך</b></td><td style=\"padding:8px 0\">{{ ($json.body ?? $json).duration }} דקות</td></tr>{{ ($json.body ?? $json).notes ? '<tr><td style=\"padding:8px 0;color:#555\"><b>הערות</b></td><td style=\"padding:8px 0\">' + ($json.body ?? $json).notes + '</td></tr>' : '' }}</table></div><div style=\"padding:12px 28px;background:#f0f0f0;font-size:12px;color:#888\">נשלח מ-VoiceTask 🔄</div></div>"
      }
    },
    {
      "id": "node-respond-reminder",
      "name": "תשובה - תזכורת",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 560],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"reminder_sent\"}"
      }
    },
    {
      "id": "node-if-reminder",
      "name": "בדיקת תזכורת",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 480],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "leftValue": "={{ $json.body.action ?? $json.action }}",
              "rightValue": "reminder",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    }
  ],
  "connections": {
    "קבלת משימה": {
      "main": [[{ "node": "בדיקת תזכורת", "type": "main", "index": 0 }]]
    },
    "בדיקת תזכורת": {
      "main": [
        [{ "node": "מייל תזכורת", "type": "main", "index": 0 }],
        [{ "node": "בדיקת פעולה", "type": "main", "index": 0 }]
      ]
    },
    "מייל תזכורת": {
      "main": [[{ "node": "תשובה - תזכורת", "type": "main", "index": 0 }]]
    },
    "בדיקת פעולה": {
      "main": [
        [{ "node": "מחיקת אירוע", "type": "main", "index": 0 }],
        [{ "node": "עיבוד נתונים", "type": "main", "index": 0 }]
      ]
    },
    "מחיקת אירוע": {
      "main": [[{ "node": "תשובה - מחיקה", "type": "main", "index": 0 }]]
    },
    "עיבוד נתונים": {
      "main": [[{ "node": "בדיקת מייל בלבד", "type": "main", "index": 0 }]]
    },
    "בדיקת מייל בלבד": {
      "main": [
        [{ "node": "מייל אישור", "type": "main", "index": 0 }],
        [{ "node": "גוגל קלנדר", "type": "main", "index": 0 }]
      ]
    },
    "מייל אישור": {
      "main": [[{ "node": "תשובה - מייל", "type": "main", "index": 0 }]]
    },
    "גוגל קלנדר": {
      "main": [
        [{ "node": "שליחת מייל", "type": "main", "index": 0 }]
      ]
    },
    "שליחת מייל": {
      "main": [
        [{ "node": "תשובה - יצירה", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
